:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.modal-btn {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  transition: all 250ms linear;
}

.modal-btn-theme-dark {
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-links-list {
  display: flex;
  align-items: center;
}

.social-links-list::before {
  display: block;
  content: "";
  flex-shrink: 0;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.social-links-list-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-list-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.suptitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-light {
  color: #303030;
}

.suptitle-theme-light::before {
  background-color: #303030;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  /* color: #9da4bd; */
}

.description-theme-dark {
  color: #9da4bd;
}

.description-theme-light {
  color: #555555;
}

.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  /* color: #303030; */
}

.title-theme-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.title-theme-light {
  margin-bottom: 20px;
  color: #303030;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms linear;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #303030;
}

.social-list-icon {
  fill: #303030;
  transition: fill 250ms linear;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.modal-form-field {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 8px;
}

.modal-form-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: teal;
  transition: background-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  background-color: var(--accent-color);
}

.modal-form-message {
  font-size: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  padding: 12px 16px;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form-input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form-checkbox-wrapper {
  position: relative;
}

.modal-form-checkbox:checked + .modal-form-policy-label::before {
  background-color: var(--accent-color);
  box-shadow: inset 0 0 0 4px #ffffff;
}

.modal-form-checkbox:focus + .modal-form-policy-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.modal-form-policy-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #303030;
  cursor: pointer;
  margin-right: 10px;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  color: #ffffff;
  transition: color 250ms linear;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.hero-container {
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  width: 100px;
  padding-left: 26px;
  padding-bottom: 40px;
}

.hero-social-links-list {
  transform: rotate(-90deg) translateX(-18px);
  transform-origin: left top;
}

.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg.jpg");
  background-size: cover;
}

.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-description {
  width: 400px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left-side,
.about-right-side {
  width: calc(100% / 2 - 15px);
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-description {
  margin-bottom: 20px;
  max-width: 442px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.services {
  background-color: #111319;
  background-image: url("../images/services/bg.png");
  background-size: cover;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  width: 50%;
  padding: 30px 40px;
}

.services-list:nth-child(odd) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:nth-child(even) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list-item {
  display: flex;
  align-items: baseline;
}

.services-list-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin: 0 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-list-name {
  order: -1;
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-description {
  max-width: 470px;
}

.advantages-left-side,
.advantages-right-side {
  width: calc(100% / 2 - 15px);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 370px;
  margin: 0 auto;
}

.advantages-list-item {
  width: 170px;
  height: 133px;
  padding: 20px;
  background-color: #f7f7f7;
}

.advantages-list-item:nth-child(odd) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.advantages-list-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages-list-desc {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.masters-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

/* .masters-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .masters-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  } */
.masters-list-content {
  padding-top: 30px;
  padding-right: 82px;
  padding-left: 82px;
}

.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
/*# sourceMappingURL=main.css.map */