.about-left-side {
  display: none;
}

.about-title {
  max-width: 320px;
}

.about-description {
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: space-between;
  }

  .about-left-side {
    display: block;
  }

  .about-left-side,
  .about-right-side {
    width: calc(100% / 2 - 15px);
  }

  .about-list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about-title {
    max-width: unset;
  }

  .about-list {
    display: flex;
    justify-content: space-between;
  }

  .about-list-item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .about-description {
    max-width: 442px;
  }

  .about-text {
    max-width: 480px;
  }
}
