.hero__left-side {
  display: none;
}

.hero__right-side {
  padding-top: 208px;
  padding-bottom: 183px;
}

.hero__title {
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero__description {
  max-width: 272px;
}

// 0px - 767px
@media screen and (max-width: 767px) {
  .hero {
    background-color: #303030;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-mobile.jpg");
    background-size: cover;
  }
}

// 768px+
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
  }

  .hero__left-side {
    display: flex;
    align-items: flex-end;
    width: 120px;
    padding-left: 36px;
    padding-bottom: 40px;
  }

  .hero__right-side {
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 245px;
    padding-left: 120px;
    background-color: #303030;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-tablet.jpg");
    background-size: cover;
  }

  .hero__description {
    max-width: 352px;
  }

  .hero-social-links-list {
    transform: rotate(-90deg) translateX(-18px);
    transform-origin: left top;
  }
}

@media screen and (min-width: 1200px) {
  .hero__right-side {
    padding-left: 100px;
    padding-bottom: 206px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/bg-desktop.jpg");
  }

  .hero__left-side {
    width: 100px;
    padding-left: 26px;
  }

  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }

  .hero__description {
    max-width: 400px;
  }
}
